@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$border-color: #30302F;
$border-width: .25em;

$banner-color: rgba(0, 50, 86, .8);
$banner-color-fade1: rgba(0, 50, 86, .6);
$banner-color-fade2: rgba(0, 50, 86, 0);

body {
  padding-top: 4em;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  letter-spacing: -0.5px;
}

div {
  margin: 0 12%;
  position: relative;
}

#intro-image {
  height: 500px;
  border: $border-width solid $border-color;
  border-radius: $base-border-radius;
  background-image: url("../../images/fountain.jpg");
  background-size: cover;
  div {
    position: relative;
    height: $base-line-height + .9em;
    top: 66%;
    left: -5%;
    background: linear-gradient(90deg, $banner-color, $banner-color-fade1 80%, $banner-color-fade2);
    margin: .5em;
    padding: .5em 0 0 1em;
    h1 {
      color: #ddd;
    }
  }
}

nav {
  text-align: center;
  ul {
    padding: 1.5em;
  }
  li {
    display: inline;
    padding: 0 2em 0 2em;
  }
}

@media (max-width: 450px) {
  div {
    margin: 0;
  }
  #intro-image div {
    left: 1.5%;
  }
}
